.snackbar_content {
    width: 100%;
    height: 100%;
    padding: 2rem;
    color: #fff;
    &.is_success {
        background-color: var(--success_bc_color);
    }
    &.is_warning {
        background-color: var(--waring_bc_color);
    }
    &.is_error {
        background-color: var(--error_bc_color);
    }
}

.snackbar_message {
    font-size: 1.4rem;
}