.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
}

.swatch_button {
    width: 3.6rem;
    height: 3.6rem;
    padding: 0.4rem;
    background-color: var(--dark_925_color);
    border: 0.1rem solid var(--dark_800_color);
    border-radius: 0.4rem;
    flex-shrink: 0;

    &:hover {
        border-color: var(--dark_700_color);
    }

    &:active {
        border-color: var(--dark_650_color);
    }

    &.is_disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

.swatch {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.4) inset;
}

.save_button {
    padding: 0.8rem 1.2rem;
    background-color: var(--primary_600_color);
    border-radius: 0.4rem;
    text-align: center;
    flex-shrink: 0;
    min-width: 5.4rem;

    &:hover {
        background-color: var(--primary_500_color);
    }

    &:active {
        background-color: var(--primary_700_color);
    }

    &.is_disabled {
        pointer-events: none;
        background-color: var(--primary_800_color);
    }
}

.save_button_label {
    font-size: 1.4rem;
}

.popover_paper {
    padding: 1.2rem;
    background-color: var(--dark_950_color);
    border: 0.1rem solid var(--dark_800_color);
    border-radius: 0.8rem;
}

.popover_content {
    width: 20rem;
}

