.reset_button {
    width: fit-content;
    background-color: var(--dark_875_color);
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    flex-shrink: 0;
    &:hover {
        background-color: var(--dark_825_color);
        & .reset_svg {
            color: var(--dark_200_color);
        }
    }
    &:active {
        background-color: var(--dark_925_color);
    }
}

.reset_svg {
    width: 1.4rem;
    color: var(--dark_550_color);
}