.button_wrapper {
    padding: 1.6rem;
    border-radius: 0.4rem;
    &:hover:not(.is_clicked) {
        background-color: var(--dark_825_color);
    }
    &:active:not(.is_clicked) {
        background-color: var(--dark_900_color);
    }
    &.is_clicked {
        cursor: default;
    }
}

.button_svg {
    width: 2.4rem;
    color: var(--dark_400_color);
    &.is_clicked {
        color: var(--primary_300_color);
    }
}