.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark_888_color);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    &.flex_column {
        flex-direction: column;
    }
}

.label_only_section {
    width: 100%;
}

.threshold_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: var(--dark_888_color);
    padding: 2rem;
}

.threshold_switch_section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.threshold_section {
    width: 100%;
}

.deepl_auth_key_label_section {
    max-width: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem;
}

.message_format_section {
    width: 100%;
}