.container {
    display: flex;
    gap: 6.4rem;
    flex-direction: column;
}

.panel {
    display: flex;
    flex-direction: column;
}

.install_button_wrapper {
    display: flex;
    justify-content: center;
    padding: 2.4rem 2rem;
    border-bottom: solid 0.1rem var(--dark_800_color);
}

.install_button {
    background-color: var(--primary_600_color);
    color: var(--dark_basic_text_color);
    border: none;
    border-radius: 0.6rem;
    padding: 1.2rem 3.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.12s ease-in-out, opacity 0.12s ease-in-out;

    &:hover {
        background-color: var(--primary_700_color);
    }

    &:disabled {
        background-color: var(--dark_800_color);
        color: var(--dark_500_color);
        opacity: 0.6;
        cursor: not-allowed;
    }
}
