.device_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.device_contents {
    display: flex;
    gap: 2.8rem;
}

.device_dropdown_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.device_dropdown_label {
    font-size: 1.4rem;
}