.container {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // background-color: gray;
}

.support_us_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

}
.fanbox_img {
    width: 60vw;
}

.support_us_button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4.8rem;
}
.fanbox_wrapper, .kofi_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.fanbox_button {
    width: 14rem;
    transition: all 0.3s ease;
    &:hover {
        width: 16rem;
    }
}
.kofi_preparing {
    width: 6rem;
}

.mainly_japanese, .mainly_english {
    font-size: 1.2rem;
    color: var(--dark_400_color);
}


.supporters_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.vrct_supporters_title {
    height: 6rem;
}
.vrct_supporters_desc {
    font-size: 1.4rem;
    text-align: start;
}

.supporters_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: start;
    flex-wrap: wrap;
    column-gap: 1.4rem;
    row-gap: 0.8rem;
}

.supporter_image_wrapper {
    position: relative;
    width: 18rem;
    overflow: hidden;
}

.supporter_image {
    width: 100%;
}

.mogu_image {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: -200%;
        left: -200%;
        width: 300%;
        height: 300%;
        background: linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 70%);
        transform: rotate(90deg);
        animation: shine 2.5s infinite;
        filter: blur(0.4rem);
        animation-delay: var(--delay, 0s);
    }

}

@keyframes shine {
    0% {
        top: -200%;
        left: -200%;
    }
    50% {
        top: 50%;
        left: 50%;
        opacity: 0.7;
    }
    100% {
        top: 200%;
        left: 200%;
    }
}

.default_chato_expression_image {
    position: absolute;
    top: 50%;
    left: 2.9rem;
    width: 2.8rem;
    transform: translate(-50%, -50%) rotate(10deg);
    opacity: 0.8;
}