.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;
    width: 100%;
    gap: 4rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 56rem;
    gap: 2rem;
}

.controller_type_switch {
    margin-top: 2rem;
    display: flex;
    border: 0.1rem solid var(--dark_600_color);
    border-radius: 0.4rem;
    width: 80%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--dark_600_color);
    &:hover {
        color: var(--dark_400_color);
    }
}
.controller_type_switcher {
    width: 100%;
    &.is_selected {
        background-color: var(--dark_850_color);
    }
    &.is_selected .controller_switcher_label {
        color: var(--dark_basic_text_color);
    }
}
.controller_switcher_label {
    padding: 1rem;
    font-size: 1.6rem;
}

.position_rotation_controls_box {
    margin-top: 8rem;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 36%;
    max-width: 36rem;
    transform: translate(-10%);
}

// .position_controls {
//     background-color: gray;
// }

// .position_wrapper {
//     background-color: gray;
// }

.slider_label {
    font-size: 1.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    white-space: nowrap;
}
.x_position_label {
    position: absolute;
    bottom: -4.6rem;
    right: -46%;
    justify-content: end;
}
.y_position_label {
    position: absolute;
    top: -44%;
    left: 10%;
    justify-content: start;
}
.z_position_label {
    position: absolute;
    top: 30%;
    left: 80%;
}

.x_position_slider {
    position: absolute;
    bottom: 0;
    left: 27%;
    width: 100%;
    height: 0%;
}

.y_position_slider {
    position: absolute;
    bottom: 27%;
    left: 0;
    width: 0%;
    height: 100%;
}

.z_position_slider {
    position: absolute;
    bottom: 61%;
    left: 61%;
    transform: translate(50%,50%) rotate(45deg);
    width: 0%;
    height: 100%;
}




// .rotation_controls {
//     background-color: gray;
// }

// .rotation_wrapper {
//     background-color: gray;
// }

.x_rotation_label {
    position: absolute;
    top: -44%;
    left: 10%;
}
.y_rotation_label {
    position: absolute;
    bottom: -4.6rem;
    right: -46%;
    justify-content: end;
}
.z_rotation_label {
    position: absolute;
    top: -10%;
    right: -110%;
}

.x_rotation_slider {
    position: absolute;
    bottom: 27%;
    left: 0;
    width: 0%;
    height: 100%;
}

.y_rotation_slider {
    position: absolute;
    bottom: 0;
    left: 27%;
    width: 100%;
    height: 0%;
}

.z_rotation_slider {
    position: absolute;
    bottom: 80%;
    left: 100%;
    transform: translate(50%,50%) rotate(-45deg);
    width: 0%;
    height: 100%;
}


.slider_reset_button {
    background-color: var(--dark_850_color);
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    flex-shrink: 0;
    &:hover {
        background-color: var(--dark_800_color);
        & .slider_reset_svg {
            color: var(--dark_200_color);
        }
    }
    &:active {
        background-color: var(--dark_900_color);
    }
}

.slider_reset_svg {
    width: 1.4rem;
    color: var(--dark_550_color);
}



.other_controls {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.other_controls_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.other_controls_slider {
    margin-left: 18rem;
}

.other_controls_slider_label {
    position: absolute;
    font-size: 1.6rem;
    width: 100%;
}

.common_container {
    width: 100%;
}

.common_label {
    font-size: 1.4rem;
}

.restore_default_settings_button {
    color: var(--dark_basic_text_color);
    font-size: 1.2rem;
    margin-top: 6rem;
    padding: 0.8rem;
    border-radius: 0.4rem;
    &:hover {
        background-color: var(--dark_775_color);
    }
    &:active {
        background-color: var(--dark_900_color);
    }
}