.container {
    height: 100%;
}

.button_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding: 0 0.8rem;
    border-radius: 0.2rem;
    cursor: pointer;
    &:hover {
        background-color: var(--dark_800_color);
    }
    &:active {
        background-color: var(--dark_900_color);
    }
}

.button_label {
    font-size: 1.2rem;
}

.button_indicator_label {
    font-size: 1rem;
    &.is_disabled {
        color: var(--dark_600_color);
    }
    &.is_enabled {
        color: var(--primary_300_color);
        &:not(.is_available) {
            color: var(--warning_color);
        }
    }
}

.warning_svg {
    margin-left: 0.4rem;
    padding-bottom: 0.1rem;
    width: 1.1rem;
    color: var(--warning_color);
}