$progress_ease: cubic-bezier(0, 1, 0.75, 1);
// Duplicated

@keyframes revealTopImg {
    0% {
        clip-path: inset(0 50% 0 50%);
        opacity: 0;
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

@keyframes bounceIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    60% {
        transform: translateY(-10%);
        opacity: 1;
    }
    80% {
        transform: translateY(10%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes expandWidth {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.support_us_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    width: 100%;
}

.support_buttons_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.top_img {
    width: 100%;
    animation: revealTopImg 0.8s ease forwards;
}

.lines_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3.6rem;
}

.line_basic,
.line_fuwa,
.line_mochi,
.line_mogu {
    width: 8.6rem;
    height: 0.2rem;
    transform: scaleX(0);
    transform-origin: left center;
}

.line_basic {
    background-color: var(--dark_800_color);
    animation: expandWidth 1s $progress_ease 0.4s forwards;
}

.line_fuwa {
    background-color: #5788a2;
    animation: expandWidth 1s $progress_ease 0.6s forwards;
}

.line_mochi {
    background-color: var(--received_300_color);
    animation: expandWidth 1s $progress_ease 0.8s forwards;
}

.line_mogu {
    background-color: var(--dark_basic_text_color);
    animation: expandWidth 1s $progress_ease 1s forwards;
}

.support_us_button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3.6rem;
    flex-wrap: wrap;
}

.support_button {
    position: relative;
    padding: 1.2rem 1.6rem;
    opacity: 0;
    transform: translateY(100%);
}

.support_button:nth-child(1) {
    animation: bounceIn 0.4s ease-out 1.2s forwards;
}
.support_button:nth-child(2) {
    animation: bounceIn 0.4s ease-out 1.4s forwards;
}
.support_button:nth-child(3) {
    animation: bounceIn 0.4s ease-out 1.6s forwards;
}


.support_img {
    &.fanbox_logo {
        height: 1.8rem;
    }
    &.kofi_logo, &.patreon_logo {
        height: 2.2rem;
    }
}


.spiral_top::before,
.spiral_top::after,
.spiral_bottom::before,
.spiral_bottom::after {
    content: "";
    position: absolute;
    transition-duration: 0.3s;
}

.spiral_top::before {
    background: var(--dark_800_color);
    box-shadow: 0 0 0.4rem 0 var(--dark_800_color);
}
.spiral_top::after {
    background: #5788a2;
    box-shadow: 0 0 0.4rem 0 #5788a2;
}
.spiral_bottom::before {
    background: var(--received_300_color);
    box-shadow: 0 0 0.4rem 0 var(--received_300_color);
}
.spiral_bottom::after {
    background: var(--dark_basic_text_color);
    box-shadow: 0 0 0.4rem 0 var(--dark_basic_text_color);
}

.spiral_top::before {
    top: 0;
    left: 0;
    width: 0.1rem;
    height: 0;
}
.spiral_top::after {
    top: 0;
    right: 0;
    width: 0;
    height: 0.1rem;
}
.spiral_bottom::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1rem;
}
.spiral_bottom::after {
    bottom: 0;
    right: 0;
    width: 0.1rem;
    height: 0;
}


.support_button:hover .spiral_top::before {
    height: 100%;
}
.support_button:hover .spiral_top::after {
    width: 100%;
}
.support_button:hover .spiral_bottom::before {
    width: 100%;
}
.support_button:hover .spiral_bottom::after {
    height: 100%;
}


.supporters_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.vrct_supporters_title {
    height: 6rem;
}

.vrct_supporters_desc {
    font-size: 1.4rem;
    text-align: start;
}
