@import "./reset.css";
@import "./variables.css";

:root {
    font-size: 62.5%;
    color: #F2F2F2;
    font-family: "Yu Gothic UI";
}

* {
    &::-webkit-scrollbar {
        width: 0.8rem;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--dark_925_color);
        border-radius: 0.4rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--dark_800_color);
        border-radius: 0.4rem;
    }
}

p, img, button {
    user-select: none;
}

html, body {
    height: 100%;
}


#root {
    height: 100%;
}

/* SVG内のすべての要素にfillを適用 (colorの調整をcssでするため) */
svg {
    fill: currentColor;
}