.container {
    height: 100%;
    width: 2.2rem;
    background-color: var(--dark_850_color);
    cursor: pointer;
    &:hover {
        background-color: var(--dark_800_color);
    }
    &:active {
        background-color: var(--dark_900_color);
    }
}

.arrow_left_svg {
    height: 100%;
    width: 100%;
    padding: 1.1rem 0rem;
    color: var(--dark_400_color);
    &.reverse {
        transform: rotate(180deg);
    }
}