.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tab_container {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem 0.6rem 0 0;
    color: var(--dark_600_color);
    cursor: pointer;
    &:hover {
        background-color: var(--dark_825_color);
    }
    &:active {
        background-color: var(--dark_875_color);
    }
    &.is_selected {
        background-color: var(--dark_800_color);
        color: var(--dark_basic_text_color);
        cursor: default;
        pointer-events: none;
    }
}

.tab_number {
    font-size: 1.6rem;
}