.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark_950_color);
    overflow: hidden;
}

.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: var(--config_window_topbar_height);
}