@import "@scss_mixins";

.download_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    min-width: 8rem;
    flex-shrink: 0;
}

.download_button {
    pointer-events: auto;
    background-color: var(--dark_800_color);
    padding: 0.8rem;
    flex-shrink: 0;
    border-radius: 0.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: var(--dark_750_color);
    }
    &:active {
        background-color: var(--dark_800_color);
    }
}
.download_button_label {
    font-size: 1.2rem;
    white-space: nowrap;
}

.progress_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
}

.progress_label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
}

.update_button {
    pointer-events: auto;
    background-color: var(--primary_400_color);
    padding: 0.8rem;
    flex-shrink: 0;
    border-radius: 0.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: var(--primary_450_color);
    }
    &:active {
        background-color: var(--primary_500_color);
    }
}