.container {
    width: 12rem;
    flex-shrink: 0;
    padding: 0;
    position: relative;
    transition: width 0.2s;
    height: 100%;

    &.is_small {
        width: 4rem;
        &:hover {
            width: 12rem;
        }
    }
}

.scroll_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: var(--dark_900_color);
    padding-bottom: 0.8rem;
    overflow: hidden;
}

.scroll_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    flex: 1;
    padding-top: var(--config_page_topbar_height); // Ensure alignment with content area
    max-height: 60rem;
}

.tabs_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.tab_container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
    gap: 0.4rem;
    overflow: hidden;

    &:hover {
        background-color: var(--dark_800_color);
    }
    &:active {
        background-color: var(--dark_900_color);
    }
    &.is_selected {
        background-color: inherit;
        color: var(--primary_200_color);
        cursor: default;
        pointer-events: none;
        .tab_icon {
            fill: var(--primary_200_color);
        }
        .tab_text {
            color: var(--primary_200_color);
        }
    }
}

.tab_icon_wrapper {
    width: 2.4rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.tab_icon {
    width: 1.6rem;
    aspect-ratio: 1/1;
    fill: var(--dark_400_color);
    &.mui_icon {
        width: 1.8rem;
        fill: var(--dark_400_color);
        aspect-ratio: 1/1;
    }
    &.about_vrct_icon {
        width: 1.6rem;
        margin-top: 0.2rem;
    }
    &.supporters_icon {
        fill: var(--supporters_crown_color);
    }
}

.switch_indicator {
    display: none;
    &.is_selected {
        display: block;
        position: absolute;
        top: 50%;
        left: 0.4rem;
        transform: translate(-50%, -50%);
        width: 0.2rem;
        height: 2rem;
        border-radius: 0.1rem;
        background-color: var(--primary_300_color);
    }
}

.tab_text {
    font-size: 1.2rem;
    position: relative;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.2s;
    color: var(--dark_basic_text_color);

    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}

.separated_tabs_wrapper {
    margin-top: 0.8rem;
}