.container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    padding-left: 4rem;
}

.range_slider {
    // max-width: 60rem;
}