.container {
    position: relative;
    min-width: 23rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--dark_850_color);
    &.is_compact_mode {
        min-width: auto;
        .scroll_container {
            // overflow-y: hidden;
            // width: auto;
        }
    }
}

.scroll_container {
    width: calc(100% + 0.8rem);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: calc(2rem + 1.6rem + 2rem); // config button's sizes (svg + padding + margin).
    pointer-events: auto;
    z-index: 1;
    &::-webkit-scrollbar {
        width: 0.8rem;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--dark_888_color);
        border-radius: 0.4rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--dark_888_color);
        border-radius: 0.4rem;
    }

    &.is_opened {
        &::-webkit-scrollbar-track {
            background-color: var(--dark_875_color);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--dark_875_color);
        }
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: var(--dark_800_color);
        }
    }

}
