.open_webpage_button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.open_webpage_button {
    padding: 0.6rem 1.2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    cursor: pointer;
    flex-shrink: 0;
    &:hover {
        background-color: var(--dark_825_color);
    }
    &:active {
        background-color: var(--dark_900_color);
    }
}

.open_webpage_text {
    font-size: 1.2rem;
}

.external_link_svg {
    color: var(--dark_500_color);
    width: 1.6rem;
    flex-shrink: 0;
}