// [Fix me] Need refactor.
.mic_container {
    display: flex;
    flex-direction: column;
    border-bottom: solid 0.1rem var(--dark_800_color);
    padding-bottom: 1rem;
}

.speaker_container {
    padding-top: 0rem;
}

.device_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-bottom: 0rem;
    &.is_break_point {
        flex-direction: column;
        gap: 2rem;
        align-items: start;
        & .device_contents {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-left: 0rem;
        }
    }
}

.threshold_container {
    padding: 2rem;
}



.threshold_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.threshold_switch_section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.threshold_section {
    width: 100%;
}