.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dark_888_color);
    align-items: center;
}


.pages_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}