.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.label {
    font-size: 2rem;
    max-width: 48rem;
    text-align: center;
    color: var(--dark_basic_text_color);
}
.button_wrapper {
    display: flex;
    width: 100%;
    gap: 2rem;
    max-width: 48rem;
    justify-content: space-between;
}
.deny_button, .accept_button {
    font-size: 1.6rem;
    padding: 1rem;
    min-width: 10rem;
    flex: 1;
    // max-width: 20rem;
    text-align: center;
    border-radius: 0.4rem;
    white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    color: var(--dark_basic_text_color);
}

.accept_button {
    background-color: var(--primary_550_color);
    position: relative;
    &:hover {
        background-color: var(--primary_450_color);
    }
    &:active {
        background-color: var(--primary_600_color);
    }
}

.deny_button {
    background-color: var(--dark_750_color);
    &:hover {
        background-color: var(--dark_700_color);
    }
    &:active {
        background-color: var(--dark_800_color);
    }
}

.restart_desc {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 1rem;
    transform: translate(-50%);
    color: var(--dark_basic_text_color);
    font-size: 1.4rem;
    width: max-content;
    pointer-events: none;
}